* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  /* width: 100%; */
  /* height: 50vh; */
  background: rgb(147, 159, 182);
  display: grid;
  margin: 1rem;
  margin-right: 2rem;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  text-align: center;
  background: rgb(0, 183, 255);
  border: 2px solid rgb(0, 0, 255);
  border-radius: 5px;
}

.item:nth-child(even) {
  background: rgb(255, 50, 50);
}
